<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="blue-grey">
        <h1 class="center-align">Astronomy Picture of the Day</h1>
        <p class="center-align">{{APOD.date}}</p>
        <div class="center-align">
            <img src="{{APOD.url}}" alt="" class="center-align responsive-img z-depth-2" >
        </div>
        <h2 class="center-align">{{APOD.title}}</h2>
        <p class="flow-text">{{APOD.explanation}}</p>
    </body>
</html>