<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="blue-grey">
        <h1 class="center-align">Astronomy Picture of the Day</h1>

        <div class="center-align">
            <img src="https://api.nasa.gov/EPIC/api/natural/{{EPIC.0.identifier[:4]}}/{{EPIC.0.identifier[4:6]}}/{{EPIC.0.identifier[6:8]}}/png/{{EPIC.0.image}}.png?api_key=0U7D9wfke1uQ0leQL4gOYVIN3PDJqyTeMxAI5DxS" alt="" class="center-align responsive-img z-depth-2" >
        </div>

    </body>
</html>