{% extends 'layout.html' %}
{% block content %}
        <h1 class="center-align">EPIC Daily "Blue Marble"</h1>

        <div class="center-align">
            <img src="https://epic.gsfc.nasa.gov/archive/natural/{{EPIC.0.identifier[:4]}}/{{EPIC.0.identifier[4:6]}}/{{EPIC.0.identifier[6:8]}}/png/{{EPIC.0.image}}.png" alt="" class="center-align responsive-img z-depth-2" >
        </div>
        <p class="center-align">{{EPIC.0.caption}}</p>
        <p class="center-align">{{EPIC.0.date}}</p>
{% endblock content %}