<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <style>
        .room-preview {
            display: flex;
            border: 2px solid #eceff1;
            }

            .room-preview img {
            height: 100px;
            flex-grow: 1;
            opacity: 0.6;
            cursor: pointer;
            transition: opacity 0.3s ease;
            }

            img.room-active {
            opacity: 1;
            }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Space Image - {{ title }}</title>
    {% else %}
        <title>Space Image</title>
    {% endif %}
</head>
<body class="blue-grey">
    <header>
        <nav class="nav-wrapper blue-grey darken-3">
            <div class="container">
                <a href="/" class="brand-logo">Home</a>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>